<div class="text-center xlarge-padding-top xlarge-padding-bottom xlarge-margin-top xlarge-margin-bottom">
  <FaIcon @icon="spinner" @spin={{true}} @pulse={{true}} @size="6x" class="text-silver" />
</div>
