// --------------------------------------------------
// Module: Search
// --------------------------------------------------

.labs-geosearch {
    position: relative;
    z-index: 2;

    .search {
      position: relative;
      z-index: 2;
    }
    .map-search-input {
      margin-bottom: 0;
      padding-right: 2rem;
    }

    .clear-button {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    .search-icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: $medium-gray;
      pointer-events: none;
    }
  }

  .search-results {
    background-color: $white;
    width: 100%;
    position: absolute;
    top: 100%;
    right: auto;
    bottom: auto;
    left: -200vw; // hide by default
    box-shadow: $input-shadow-focus;
    opacity: 0;
    transition: opacity 0.5s, left 0;
    transition-delay: 0.2s;
    border: $input-border-focus;

    &.focused {
      left: 0;
    }

    &.has-results {
      opacity: 1;
    }

    .results-header {
      margin: rem-calc(10) 0 0;
    }
    li:first-child .results-header {
      margin-top: 0;
    }

    li {
      padding: $global-margin/2;
    }

    li:not(:first-child) {
      border-top: 1px solid $silver;
    }

    .result {
      color: $anchor-color;
      cursor: pointer;
      transition: $button-transition;

      &:hover,
      &.highlighted-result {
        color: $anchor-color-hover;
        background-color: $a11y-yellow;
      }
    }

    .subdued {
      color: $dark-gray;
    }
  }

  .highlighted-result {
    color: $anchor-color-hover;
    background-color: $medium-gray;
  }

  .search-results--loading {
    border-top: 1px solid $medium-gray;
    padding: $global-margin/2;
    color: $dark-gray;
    background-color: rgba($white,0.94);
    font-size: rem-calc(12);
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
    box-shadow: $input-shadow-focus;
  }
