.notification-banner {
  padding: 0.5rem;
  margin-bottom: 1rem;

  &.maintenance-wrapper {
    p {
      margin-bottom: 0;
      font-size: 1.3rem;
    }
  }

  div {
    display: grid;
    grid-template-columns: 2rem 1fr 3fr;

    h4 {
      color: red;
      margin: 0;
      font-size: 1.5rem;
      margin-left: .5rem;
    }

    svg#information-icon {
      margin-left: 0.3125rem;
      align-self: center;
      color: red;
      font-size: 1.5rem;
    }

    .dismiss-notification {
      padding: 0;
      margin: 0;
      align-self: flex-start;
      justify-self: end;
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }
}
