/* Module: Forms */

.fieldset-adder {
  @extend .callout;
  background-color: transparent;
  border-width: 2px;
  border-style: dashed;
  margin: $global-margin*1.5 0;
}

.action-form-input {
  margin: 0 0 0rem
}

.action-form-label {
  margin: 0 0 1rem
}

textarea {
  resize: vertical;
}
