/* Module: PasForm */

.fieldset-adder {
  @extend .callout;
  background-color: transparent;
  border-width: 2px;
  border-style: dashed;
}

.action-form-input {
  margin: 0 0 0rem
}

.action-form-label {
  margin: 0 0 1rem
}

.ember-radio-button {
  display: inline-block;
}
