.question-text-small {
  font-size: 0.875rem;
}

.project-area-guidance-wrapper {
  padding-bottom: 1.5rem;

  .project-area-guidance {
    margin-left: 0;

    li {
      list-style-type: none;
      padding: 1rem 0 0 1.5rem;
    }
  }
}
