/* Module: Transitions */

// Scale and fade in
.scale-fade-in {
  opacity: 0;
  transform: scale(1.25);
}
.scale-fade-in.scale-fade-in-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in;
}

// Slide in from the top
.slide-in-top {
  opacity: 0;
  transform: translateY(-100%);
}
.slide-in-top.slide-in-top-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in;
}

// Slide in from the bottom
.slide-in-bottom {
  opacity: 0;
  transform: translateY(100%);
}
.slide-in-bottom.slide-in-bottom-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in;
}
