<h1 class="header-xlarge">
  Draft, file, and track your land use and environmental applications with&nbsp;the Department&nbsp;of City&nbsp;Planning.
</h1>

<h6 class="-callout">
  Sign in with NYC.ID to view your projects.
  <a href="https://www1.nyc.gov/assets/nyc4d/html/services-nycid/user-features-benefits.shtml"
    class="text-weight-bold"
  >
    What is NYC.ID?
  </a>
</h6>

<hr>

<div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <Auth::SignIn
      @searchContacts={{fn this.queryContacts}}
    />
  </div>
  <div class="cell large-6">
  </div>
</div>

{{outlet}}
