<div class="site-main large-padding-bottom">
    <section class="grid-container large-padding-top large-padding-bottom">

    <div class="grid-x grid-padding-x">
        {{!-- breadcrumb --}}
        <div class="cell">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                <li><span class="show-for-sr">Current: </span> My Projects</li>
                </ul>
            </nav>
            <hr />
        </div>

        {{!-- left list column --}}
        <div class="cell auto">
            {{!-- todo projects list header --}}
            <h4 class="text-dark-gray large-margin-bottom text-weight-normal">
                TO DO
            </h4>
            {{!-- projects list --}}
            <ul class="no-bullet">
                {{#each this.applicantProjects as |project|}}
                    <Projects::ApplicantProjectCard @responsibility="applicant" @project={{project}} />
                {{/each}}
            </ul>
        </div>

        {{!-- right list column --}}
        <div class="cell large-shrink">
            {{!-- template-lint-disable no-inline-styles--}}
            <div class="callout bg-white-smoke large-padding-left large-padding-right" style="border:0;">
                {{!-- upcoming projects list header --}}
                <h4 class="text-dark-gray large-margin-bottom text-weight-normal">
                    Upcoming
                </h4>
                {{!-- projects list --}}
                <ul class="no-bullet">
                    {{#each this.noPasProjects as |project|}}
                        <Projects::PlanningProjectCard @project={{project}} />
                    {{/each}}
                </ul>

                {{!-- planning projects list header --}}
                <h4 class="text-dark-gray large-margin-bottom  text-weight-normal">
                    NYC Planning is working on it...
                </h4>
                {{!-- projects list --}}
                <ul class="no-bullet">
                    {{#each this.planningProjects as |project|}}
                        <Projects::PlanningProjectCard @project={{project}} />
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    </section>

</div>

{{outlet}}