{{!-- TODO:  Make this breadcrumb dynamic with application routing --}}
{{!-- breadcrumb --}}
<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li class="text-extra-large">
      <span class="show-for-sr">Current: </span>
      My Projects
    </li>
  </ul>
</nav>

<hr />

<div class="text-center xlarge-padding-top xlarge-padding-bottom xlarge-margin-top xlarge-margin-bottom">
  <span>Hmm, something went wrong:</span>

  {{#each this.model.errors as |error|}}
    <span>{{error.message}}</span>
  {{/each}}

  {{!-- If there's an error, try to logout --}}
  <DoLogout />
</div>
