<Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @current={{true}} />
</Breadcrumbs>

<div class="text-center xlarge-padding-top xlarge-padding-bottom xlarge-margin-top xlarge-margin-bottom">
  <span>Hmm, something went wrong:</span>

  {{#each this.model.errors as |error|}}
    <span>{{error.message}}</span>
  {{/each}}

  {{!-- If there's an error, try to logout --}}
  <DoLogout />
</div>
