<Ui::Breadcrumbs as |Crumb|>
  <Crumb @text="My Projects" @current={{true}} />
</Ui::Breadcrumbs>

<div class="text-center xlarge-padding-top xlarge-padding-bottom xlarge-margin-top xlarge-margin-bottom">
  <span>Hmm, something went wrong:</span>

  <Errors::List
    @errors={{this.model.errors}}
  />

  {{!-- If there's an error, try to logout --}}
  <Auth::DoLogout />
</div>
