// Foundation utilities
@import 'foundation-sites/scss/util/util';

// Labs UI variables
@import 'nyc-planning-variables';
$small-font-size: 81.25%; // TODO: update Style Guide so that <small> matches .text-small

// Foundation mixins
@import 'foundation-sites/scss/foundation';

// Foundation components
@include foundation-everything; // or a subset

// Style Guide components
@import 'modules/nyc-planning-all-modules'; // or a subset

// Labs UI components
@import 'labs-ui/all-modules'; // or a subset

// Custom app components
@import 'modules/_login';
@import 'modules/_reveal-modal';
@import 'modules/_geosearch';
@import 'modules/_pasform';

@import "ember-power-select";


.site-header {
  @include breakpoint(large) {
    position: sticky;
    top: 0;
  }
}

.site-main {
  position: relative;
  z-index: 1;
}

.form-section {
  & + & {
    border-top: $hr-border;
    margin-top: $global-margin*3;
    padding-top: $global-margin*3;
  }
}

.section-header {
  position: relative;
}

.section-anchor {
  @include breakpoint(large) {
    position: absolute;
    top: -7rem;
  }
}

$sticky-sidebar-offset: 6rem + rem-calc(20);
.sticky-sidebar {
  @include breakpoint(large) {
    position: sticky;
    top: $sticky-sidebar-offset;
    max-height: calc(100vh - #{$sticky-sidebar-offset});
    overflow: auto;
  }
}

.delete-fieldset {
  position: absolute;
  top: 0;
  right: $global-margin;
  background-color: $off-white;
  color: $red-dark;
  font-size: rem-calc(14);
  padding: 0.4em;
  padding-right: 0;
}

.button.button--saved {
  opacity: 1 !important;
  background-color: $green-muted !important;
}

.character-counter {
  float: right;
  margin: -0.5rem 0 $global-margin $global-margin;
  font-size: rem-calc(12);
  text-align: right;

  .count {
    &.invalid { color: $red; }
    &.warning { color: $gold; }
  }
}
