// Foundation utilities
@import 'foundation-sites/scss/util/util';

// Labs UI variables
@import 'nyc-planning-variables';

// Foundation mixins
@import 'foundation-sites/scss/foundation';

// Foundation components
@include foundation-everything; // or a subset

// Style Guide components
@import 'modules/nyc-planning-all-modules'; // or a subset

// Labs UI components
@import 'labs-ui/all-modules'; // or a subset

// Custom app components
@import 'modules/_login';
@import 'modules/_m-search';


.site-header {
  @include breakpoint(large) {
    position: sticky;
    top: 0;
  }
}

.form-section {
  & + & {
    border-top: $hr-border;
    margin-top: $global-margin*3;
    padding-top: $global-margin*3;
  }
}

$sticky-sidebar-offset: 6rem + rem-calc(20);
.sticky-sidebar {
  @include breakpoint(large) {
    position: sticky;
    top: $sticky-sidebar-offset;
    max-height: calc(100vh - #{$sticky-sidebar-offset});
    overflow: auto;
  }
}
