<li class="grid-x medium-margin-bottom">
  <div class="cell shrink small-padding-right">
    <FaIcon @icon='user' @fixedWidth={{true}} @transform='down-1' class="text-gray" />
  </div>
  <div class="cell auto">
    <div class="text-weight-bold">{{@name}}</div>
    <div class="text-small"><a href="mailto:{{@emailAddress}}">{{@emailAddress}}</a></div>
  </div>
</li>
