{{#let @form as |form|}}
  <Ui::Question
    class="fieldset relative"
    ...attributes
    as |Q|
  >

    <div class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <Q.Label class="middle">
          First Name
        </Q.Label>
        {{input
          type="text"
          maxlength=200
          autocomplete="off"
          value=this.firstName
        }}
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <Q.Label class="middle">
          Last Name
        </Q.Label>
        {{input
          type="text"
          maxlength=200
          autocomplete="off"
          value=this.lastName
        }}
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <Q.Label class="middle">
          Email Address
        </Q.Label>
        {{input
          type="text"
          maxlength=200
          autocomplete="off"
          value=this.emailAddress
        }}
      </div>
    </div>
  </Ui::Question>

  <button
    class="button expanded secondary no-margin"
    type="button"
    {{on "click" (fn this.addApplicant this.firstName this.lastName this.emailAddress) }}
  >
    <strong>Add Project Editor</strong>
  </button>
{{/let}}
