<h3 onClick={{this.toggleshowMilestones}}>{{@status}}</h3>
{{#if this.showMilestones}}
  <ul class="no-bullet">
    {{#each @groupedMilestones as |milestone|}}
      <li>
        <Project::Milestones::MilestoneGroupItem @milestone={{milestone}} @status={{@status}}/>
      </li>
    {{/each}}
  </ul>
{{/if}}