<a href={{@href}} target="_blank" rel="noopener noreferrer" class="external-link" ...attributes>
  {{yield~}}
  <sup>{{!--
--}}<FaIcon @icon="external-link-alt" @prefix="fas" @fixedWidth={{true}} />
  </sup>
</a>
