<a href="{{get-env-variable 'NYCIDDomain'}}/account/validateEmail.htm?emailAddress={{this.loginEmail}}&target={{nycid-target url=(get-env-variable 'NYCIDLocation')}}">
  Please validate your e-mail address
</a>

{{outlet}}
