{{#let @form as |form|}}
<@form.Section @title='Attached Documents'>
  <p>
    Please attach the required items listed on the
    <Ui::ExternalLink @href="https://s-media.nyc.gov/agencies/dcp/assets/files/AE/interest-checklist.pdf">
      Informational Interest Meeting Checklist
    </Ui::ExternalLink> &nbsp;in at least one PDF document. The maximum
    size for a document is 50MB.
  </p>

  <SaveableForm::FieldValidationMessage
    @attribute='documents'
    @validation={{@form.errors.documents.validation}} />

  <Projects::ProjectsNewAttachments
    @package={{@form.data}}
    @artifact={{@artifact}}
    @fileManager={{@model.fileManager}}
    @attribute="documents"
    data-test-section='attachments' />
</@form.Section>

{{/let}}
