{{#let @form as |form|}}
<form.Section @title="Project Brief">
  <Ui::Question @required={{true}} as |Q|>
    <p>
      Use the
      <Ui::ExternalLink
        @href="https://www.nyc.gov/assets/planning/downloads/pdf/applicants/preparing-application/applications-reviewed-by-city-planning.pdf">
        Applications Reviewed by City Planning
      </Ui::ExternalLink> &nbsp;to reference action types and abbreviations to replace bracketed text with the appropriate
      information.<Ui::RequiredAsterisk />
    </p>

    <form.Field
      @attribute="projectBrief"
      @type="text-area"
      id={{Q.questionId}}
      @maxlength='500'
      value={{"A [action(s)] [ZR#'s for ZR, ZS, ZA] to facilitate a [new] [# of max stories], [total zsf, (# DU's)], [use] development, including [sf for each use, sf open space], is being sought by [public/private] [applicant] at [address] in [neighborhood], [Community District], [Borough]."}} />
  </Ui::Question>
</form.Section>
{{/let}}
