<a
  href={{this.loginLocation}}
  type="button"
  class="button text-weight-bold"
  rel="noreferrer noopener"
  data-test-login="do-login"
>
  Sign in with NYC.ID
  &nbsp;
  <FaIcon @icon="external-link-alt" />
</a>
