<li>
  <a
    href={{this.loginLocation}}
    type="button"
    data-test-login="do-login"
  >
    <FaIcon
      @icon="user-circle"
      @prefix="fas"
      class="text-light-gray tiny-margin-right"
    /> Sign In
  </a>
</li>
