<Ui::Question as |Q|>
  <Q.Label>
    Email Address
  </Q.Label>

  <Input @type="text" @value={{this.email}} id={{Q.questionId}} />

  <div class="grid-x grid-margin-x">
    <div class="cell medium-10">
      <p class="text-small text-dark-gray">
        If you're unsure which email address to use, contact City Planning at
        <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or <a href="tel:212-720-3300" class="nowrap">212-720-3300</a>.
      </p>
    </div>
    <div class="cell medium-2">
      <button href="#" class="button secondary"
        {{on 'click' (fn this.startLogin this.email)}}
      >
        Next
      </button>
    </div>
  </div>
</Ui::Question>
