{{!-- TODO: Make this hardcoded breadcrumb trail dynamic--}}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li>
      <LinkTo @route='projects'>My Projects</LinkTo>
    </li>
    <li class="disabled">
      {{@package.project.dcpProjectname}}
    </li>
    <li class="disabled">
      Pre-Application Statement
    </li>
    <li>
      <span class="show-for-sr">Current: </span> Edit
    </li>
  </ul>
</nav>
