{{!-- TODO: Make this hardcoded breadcrumb trail dynamic--}}

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="/projects.html">My Projects</a></li>
    <li class="disabled">123 Project Name</li>
    <li class="disabled">Pre-Application Statement</li>
    <li><span class="show-for-sr">Current: </span> Edit </li>
  </ul>
</nav>
