<h1 class="header-xlarge">
  Draft, file, and track your land use and environmental applications with&nbsp;the Department&nbsp;of City&nbsp;Planning.
</h1>

<h6 class="-callout">
  Sign in with NYC.ID to view your projects.
  <a href="https://www1.nyc.gov/assets/nyc4d/html/services-nycid/user-features-benefits.shtml"
    class="text-weight-bold"
  >
    What is NYC.ID?
  </a>
</h6>

<h5 class="-callout">
  Please note that service and support will be slower through the holiday period (Dec 23rd - Jan 4th). 
  To file, please contact your assigned LUR Planner to make Filing appointments and pay fees.
</h6>

<hr>
