{{yield (hash
  saveableChanges=this.saveableChanges
  submittableChanges=this.submittableChanges

  radio=(component 'radio-button'
    changed=(fn this.validate this.saveableChanges)
  )

  saveButton=(component 'packages/save-button'
    wrapperCallback=(fn this.persistSaveableChangeset)
    isEnabled=this.isSaveable
  )

  submitButton=(component 'packages/save-button'
    wrapperCallback=this.persistSubmittableChangeset
    isEnabled=this.isSubmittable
    isSubmit=true
  )

  SaveableForm=(component 'saveable-form'
    register=(fn this.register)
  )

  isSaveable=this.isSaveable
  isSubmittable=this.isSubmittable
)}}

{{!-- Child components are passed a registration function. If the function is there, register itself as a descendant. --}}
{{#if @register}}
  <div {{did-insert (fn @register this)}}></div>
{{/if}}
