<p class="text-small text-dark-gray" ...attributes>
  If something isn’t working, you can’t see your data, or you need assistance, please contact City Planning at
  <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or <a href="tel:212-720-3300" class="nowrap">212-720-3300</a>.
</p>
